.profile{
  width: 85%;
}

.userProfile{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.userProfileWall{
  border: 1px solid #999;
  height: 300px;
}
.userProfileData{
  display: flex;
  align-items: center;
  color: #fff;
}
.userData{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.userData h4{
  color: #fff;
  text-transform: capitalize;
}


.statusProfile{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.spanStatus{
  display: flex;
  align-items: center;
  gap: 5px;
}

.newPost{
  display: flex;
  justify-content: center;
  align-items: center;

}

.newPost a{
  text-align: start;
  width: 40%;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid #000;
  margin: 20px;
  cursor: pointer;
  background-color: transparent;
  color: #fff;
  font-size: 14px;
}

.userPostsContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}